@CHARSET "UTF-8";

#id_notice{
	position:absolute;
	left:130px;
	top:200px;
	height:200px;
	widteh:160px;
}
.slider li{padding:5px 0;overflow:hidden;width:100%}



#id_panel{
	position:absolute;
	left:450px;
	top:80px;
	height:1000px;	
	width:600px;
}
#panel-heading{
	background-color:rgb(255,255,255);
}

#id_contentpanel{
	height:1000px;	
	width:620px;
}
#id_content{
	position:relative;
	top:-55px;
	left:200px;
}
#id_content_part{
	height:150px;
}
#part_img{
	position:relative;
	top:110px;
	left:-160px;
}
#part_content{
	position:relative;
	top:12px;
	background-color:rgb(244,244,244);
	width:200px;
	height:100px;
}
#part_content_title{
	position:relative;
	top:8px;
	left:18px;
	font-size:20px;
}
#part_content_titleword{
	color:rgb(166,208,3);
}
#part_content_time{
	position:relative;
	left:20px;
}
#part_join{
	background-color:rgb(166,208,3);
	position:relative;
	top:-88px;
	left:202px;
	height:100px;
	width:100px;
	
}
#part_join_word{
	position:relative;
	left:27px;
	top:37px;
	color:white;
	font-family:STXinwei;
	
}
#id_content_page{
	position:relative;
	left:100px;
	top:80px;
}
#page{
	position:relative;
	top:1px;
	font-size:18px;
	font-family:YouYuan;
	padding-left:5px;
	padding-right:5px;
}
#current{
	position:relative;
	top:1px;
	font-size:18px;	
	font-family:YouYuan;
	padding-left:5px;
	padding-right:5px;
}
